@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: contents;
}

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/InterVariable.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/InterVariable-Italic.woff2") format("woff2");
  }
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/ibm-plex/IBMPlexSans-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../assets/fonts/ibm-plex/IBMPlexSans-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../assets/fonts/ibm-plex/IBMPlexSans-SemiBold.woff2") format("woff2");
  }
}

body {
  @apply m-0 h-screen bg-slate-50 p-0 text-base leading-snug text-slate-700 antialiased;
}

::-webkit-scrollbar {
  display: none;
}
